.login-backgroud {
  height: 100vh;
  background: linear-gradient(135deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);

  .login-container{
    width: 400px;
    height: 450px;
    margin: auto;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    .login-content {
      padding: 10px;

      .login-text{
        text-align: center;
        font-weight: 600;
        font-size: 24px;
        padding-top: 10px;
      }

      .login-input{
        margin: 7px 0;
        

        .login-password{
          position: relative;
          i{
            position: absolute;
          top: 10px;
          right: 10px;
          }
          
        }
      }

      .login-btn{
        button{
          width: 100%;
        margin: 10px 0;
        height: 30px;
        border-radius: 15px;
        outline: none;
        border: none;
        background: linear-gradient(135deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
        color: white;
        }

        button[disabled=disabled], button:disabled {
          // your css rules
          cursor: not-allowed;
          background: linear-gradient(135deg, rgb(114, 124, 124) 0%, rgb(145, 127, 89) 100%);
      }
        
        
      }

      .login-social{
        display: flex;
        text-align: center;
        justify-content: center;
        margin-top: 10px;
      }

      .login-social i{
        font-size: 35px;
        
      }
    }
  }

  
}