.bg-body-tertiary {
    background: linear-gradient(135deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);

    .home-tittle{
        color: white;
    }

    .nav-link{
        color: white;
    }
}